<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cookies</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This site uses cookies to make the user experience a lot easier.
                They are not required, yet recommended.
            </div>
            <div class="modal-footer">
                <button id="btn_accept_cookies" class="btn btn-success">Accept cookies</button>
                <button id="btn_refuse_cookies" class="btn btn-danger">Refuse cookies</button>
            </div>
        </div>
    </div>
</div>
