<div class="modal fade" id="lessonModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="lessonModalTitle">Analyse en Functioneel Ontwerpen , College <span></span></h5>
				<p id="lessonModalDate" class="ml-3">10:30 - 12:30  |  12 jan 2023</p>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<tr>
						<th>Room</th>
						<td id="lessonModalRoom"></td>
					</tr>
					<tr>
						<th>Class</th>
						<td id="lessonModalClass"></td>
					</tr>
					<tr>
						<th>Teacher(s)</th>
						<td id="lessonModalTeacher"></td>
					</tr>
					<tr>
						<th>Type</th>
						<td id="lessonModalType"></td>
					</tr>
					<tr>
						<th>OE/EvL</th>
						<td id="lessonModalOeEvl"></td>
					</tr>
					<tr>
						<th>Comment</th>
						<td id="lessonModalComment"></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success copy-raw-data">Copy raw data</button>
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
