<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" title="Windesheim School Schedule">W.S.S.</a>
    <ul class="navbar-nav" style="display: inline; margin-left: auto; margin-right: auto">
        <li class="nav-item">
            <a id="set-prev-week" class="nav-item btn btn-outline-info" href="set_week?inc=-1">Previous week</a>
            <a id="set-curr-week" class="nav-item btn btn-outline-info" href="set_week?inc=0">This week</a>
            <a id="set-next-week" class="nav-item btn btn-outline-info" href="set_week?inc=1">Next week</a>
        </li>
        <li class="nav-item" id="zelfstudie_inp">
            <label id="zelfstudie_lbl">Show zelfstudie: </label>
            <input id="zelfstudie_chkbx" type="checkbox"/>
        </li>
    </ul>
</nav>