<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cookies</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This site uses cookies to save user information.<br/>
                    If you proceed, The following data will be saved in your cookies:
                </p>
                <ul>
                    <li>If you want to show zelfstudie lessons or not.</li>
                    <li>
                        A MongoDb browser cookie, to access user specific data.
                        This includes the <b>encrypted</b> selected viewing date, api key and credentials.
                    </li>
                </ul>
                <p>
                    These cookies will be saved for one 30 days at maximum.
                    If you do not want this, Feel free to leave this site.
                </p>
            </div>
            <div class="modal-footer">
                <button onclick="set_cookies_allowed(true)" data-dismiss="modal" class="btn btn-success">Understood. Don't show again.</button>
            </div>
        </div>
    </div>
</div>
