:root {
    --main_light: rgb(255, 120, 120);
    --main_dark: rgb(255, 100, 100);
    --light: #e5e5e5;
    --light_darker: #c5c5c5;
}

body {
    margin: 0;
    padding: 0;
}

.schedule_main_holder {
    width: 100%;
    height: 85vh;
    display: flex;
    overflow-x: auto;
}

.vertical_divider {
    width: 1px;
    height: 100%;
    background-color: var(--light_darker);
}

.vertical_divider:nth-last-child(1) {
    display: none;
}

.lesson_dated {
    width: 270px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.lesson_dated_date {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}

.lesson_dated.today {
    background-color: var(--light);
    border:1px solid #c5c5c5;
    border-radius: 10px;
}

.lesson_dated.today > .lesson_dated_date::after {
    content: ' (Today)';
}

.lesson {
    border: 3px solid var(--main_dark);
    border-radius: 10px;
    background-color: var(--main_light);
    color: var(--light);
    font-family: Verdana, serif;
    padding: 5px;
    margin-bottom: 10px;
}

.lesson_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson_name::after {
    content: '';
    margin-top: 5px;
    margin-bottom: -0px;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    display: block;
}

.settings_holder {
    width: 170px;
    height: 50px;
    bottom: 15px;
    border: 3px solid var(--main_dark);
    background-color:  var(--main_light);
    border-radius: 0 25px 0 0;
    text-align: center;
    font-size: 22px;
    padding-top:5px;
    font-family: "Arial", serif;
    color: var(--white);
    cursor: pointer;
}

.lesson_type {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    right: 10px;
    border: 1px solid white;
    padding: 3px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

#zelfstudie_inp {
    position: absolute;
    top: 15px;
    right: 40px;
}
#zelfstudie_chkbx {
    transform: scale(1.5);
}
#zelfstudie_lbl {
    color: white;
    margin-right: 10px;
}

#greyed_main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.schedule_specified_lesson {
    display: none;
    width: 60%;
    height: 400px;
    background-color: var(--main_light);
    border: 2px solid var(--main_dark);
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 40px;
}

