<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Windesheim schedule site - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% include 'partials/_navbar.html' %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>